*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;


    font-family: 'Inter', sans-serif;
}

:root{
    --main-color: #2564cf;
    --text-color: #000000;
}


::-webkit-scrollbar{
    background-color: transparent;
    width: 2px;

}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 8px;

}

.NavBar{
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    width: 100%;
}

.NavBar > img{
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
    border-radius: 50%;
}

.NavBar > img:hover{
  box-shadow: 0px 0px 10px -3px rgba(255, 255, 255, 0.513) ;
}

.NavBar > a {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    padding: 0.3rem 1.3rem;

    transition: 0.15s ease-in-out all;
}

.NavBar > a:hover{
    background-color: white;
    color: var(--main-color);
}








/* section part */

.TodoSection{

    padding-top: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    text-align: center;

}

.TodoSection > img{
    height: 17rem;
    width: 17rem;
    position: relative;
    left: 1.5rem;
}

.TodoSection > h1{
    font-weight: 200;
    font-size: 3rem;
}

.TodoSection > p {
    font-size: 1.5rem;
    font-weight: 200;
}

.TodoSection > a{
    margin: 3rem 0 ;
    text-decoration: none;
    background-color: var(--main-color);
    padding: 0.7rem 1rem;
    border-radius: 8px;


    font-weight: bolder;
    font-size: 1.4rem;
    color: white;
    outline: 2px solid var(--main-color);
    outline-offset: -0.1rem;
    transition: 0.25s ease-in-out all;
}

.TodoSection > a:hover{
    outline: 2px solid var(--main-color);
    outline-offset: 0.2rem;
}





/* Tasks section */
.List{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 7rem;
}


.dropDown-toggle{
    top: 1rem !important;
}

.dropDown {
    position: absolute;
    top: 8rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 99%;
    max-width: 40rem;
    min-width: 13rem;
    height: 6rem;
    background: linear-gradient(170deg, #2564cf , 80%, white);
    border-radius: 8px;
    z-index: -1;
  
    transition: 0.25s ease-in-out all;
  }

.dropDown > input{
    margin: 0.8rem 0;
    padding: 0.3rem;
    background-color: transparent;
    outline: none;
    color: white;
    border: none;
    font-size: 1.2rem;
    font-weight:bold;
    width: 95%;
    border-bottom: 1px solid transparent;

    transition: 0.25s ease-in-out all;
}

.dropDown > input:focus{
    border-bottom: 1px solid white;
}
  
.dropDown > input::placeholder{
    color: white;
}

.dropDown > div{
    align-self: flex-end;
    margin-right: 1rem;

    color: white;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.dropDown > div > button{
    border: 1px solid white;
    border-radius: 6px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    padding: 0.4rem 0.8rem;


    transition: 0.1s ease-in-out all;
    cursor: pointer;
}  


.dropDown > div > button:hover{
    background-color: white;
    color: var(--main-color);
}

.dropDown > div > button:active{
    transform: scale(1.1);
}

.taskHolder{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0% auto;

    border-radius: 8px;
    background-color: rgba(242, 242, 242);
    box-shadow:  0 1px 4px rgba(128, 128, 128, 0.411);

    width: 99%;
    max-width: 40rem;
    min-width: 13rem;
    height: 40rem;
}

.taskHolder > button:nth-child(1){
    align-self: flex-end;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;

    background-color: var(--main-color);
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 8px;


    font-weight: bolder;
    font-size: 1.4rem;
    color: white;
    outline: 2px solid transparent;

    transition: 0.5s ease-in-out all;

    cursor: pointer;
}

.taskHolder-btn-toggle{
    transform: rotateX(180deg) !important;
}


.taskHolder > button:nth-child(1):hover{
    outline: 2px solid var(--main-color);
    background-color: white;
    color: var(--main-color);
}

.taskHolder > div{
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}


.TaskCompleted{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: auto;
    transition: 0.25s ease-in-out all !important;
}

.TaskCompleted > .Task{
    justify-content: space-between !important;
}

.TaskCompleted-toggle{
    height: 0;
    overflow: hidden;
}

.TaskFather{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Task{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0 ;

    background-color: white;
    border-radius: 8px;
    box-shadow:  0 1px 4px rgba(128, 128, 128, 0.411);
    font-weight: bolder;
    font-size: 1.2rem;
    width: 95%;
    padding: 1rem 2rem;

    cursor: pointer;
    transition: 0.15s ease-in-out all;
    
}

.msg{
    position: relative;
    top: 30%;
    font-weight: 100;
    font-family: 'Roboto Slab', serif;
}

.Task > span, .TaskCompleted > span{
    width: 90%;
    overflow-x: auto;
}

.Task > div, .TaskCompleted > div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Task > div > input, .TaskCompleted >  div > input{
   opacity: 0 ;
   position: absolute;
   height: 0px;
   width: 0px;

   transition: 0.25s ease-in-out all;
}

.inputCheck{
    display: none;
}

.check{
    position: absolute;
    top: 1.4rem;
    right: 2.5rem;
    height: 25px;
    width: 25px;
}

.check::after{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    outline: 1.5px solid transparent;


    cursor: pointer;
    transition: 0.25s ease-in-out all;
}

.check:hover::after{
    outline: 1.5px solid var(--main-color);
    outline-offset: 1px;
}



.Task:hover{
    filter: brightness(97%);
}

.TaskFather div input:checked ~ .check::after {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    content: '✓';
    background-color: var(--main-color) !important;
  }


.completed_btn{
    margin: 0.5rem;
    align-self: flex-start;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    font-size: 1.2rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
    outline: none;

    transition: 0.1s ease-in-out all;
    cursor: pointer;
}

.completed_btn:active{
    transform: scale(0.95);
}

.completed_btn > span{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease-in-out all;

}

.arrow-down-comp{
    transition: 0.25s ease-in-out all;

}


.arrow-down-comp-toggle{
    transform: rotateZ(180deg);
}


.taskSettings{
    position: absolute;
    right: 0;
    width: 0;
    max-width: 20rem;
    min-width: 0;
    height: 25rem;
    padding: 0.6rem 0rem;

    display: flex;
    flex-direction: column;

    box-shadow:  0 1px 4px rgba(128, 128, 128, 0.411);
    background-color: #f2f2f2;
    color: black;

    border-radius: 8px 0 0 8px;

    overflow-x: hidden;
    transition: 0.8s ;
}
.taskSettings-toggle{
    padding: 0.6rem;

    width: 100%;
    max-width: 20rem;
    min-width: 10rem;
    transition: 0.5s ;
}


.taskSettings > div{
    margin-top: 1rem;
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.taskSettings > div > textarea{
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 0.2rem 0.5rem;


    box-shadow:  0 1px 4px rgba(128, 128, 128, 0.411);
    background-color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    line-break: anywhere;
    resize: none;
}

.taskSettings > div > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.taskSettings > div > div > button:nth-child(1){
    width: 100%;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 8px;


    box-shadow: -1px 2px 0px #1c54b4;
    background-color: var(--main-color);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;

    transition: 0.10s ease-in-out all;
    cursor: pointer;
}

.taskSettings > div > div > button:nth-child(2){
    width: 100%;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 8px;


    box-shadow: -1px 2px 0px rgb(189, 18, 18);
    background-color: rgb(255, 42, 42);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;

    transition: 0.10s ease-in-out all;
    cursor: pointer;
}

.taskSettings > div > div > button:active{
    box-shadow: -0px 0px 0px rgb(0, 0, 0);
    transform: translate(-1px, 2px);
}


/* EXIT BTN */
.exitBTN{
    align-self: flex-end;
    font-size: 2rem;
    border-radius: 20%;
    border: 2px solid var(--main-color);
    color: white;
    background-color: var(--main-color);
    box-shadow: -0.7px 2px 0px #1c54b4;
    transition: 0.10s ease-in-out all;
    cursor: pointer;
}


.exitBTN:active{
    box-shadow: -0px 0px 0px #1c54b4;
    transform: translate(-0.7px, 2px);

}