*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;


    font-family: 'Inter', sans-serif;
}

:root{
    --main-color: #2564cf;
    --text-color: #000000;
}

.NavBar{
    position: relative;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

.NavBar > img{
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
    border-radius: 50%;
}

.NavBar > img:hover{
  box-shadow: 0px 0px 10px -3px rgba(255, 255, 255, 0.513) ;
}

.NavBar > a {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    padding: 0.3rem 1.3rem;

    transition: 0.15s ease-in-out all;
}

.NavBar > a:hover{
    background-color: white;
    color: var(--main-color);
}








/* section part */

.TodoSection{

    padding-top: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    text-align: center;

}

.TodoSection > img{
    height: 17rem;
    width: 17rem;
    position: relative;
    left: 1.5rem;
}

.TodoSection > h1{
    font-weight: 200;
    font-size: 3rem;
}

.TodoSection > p {
    font-size: 1.5rem;
    font-weight: 200;
}

.TodoSection > a{
    margin: 3rem 0 ;
    text-decoration: none;
    background-color: var(--main-color);
    padding: 0.7rem 1rem;
    border-radius: 8px;


    font-weight: bolder;
    font-size: 1.4rem;
    color: white;
    outline: 2px solid var(--main-color);
    outline-offset: -0.1rem;
    transition: 0.25s ease-in-out all;
}

.TodoSection > a:hover{
    outline: 2px solid var(--main-color);
    outline-offset: 0.2rem;
}

/* UserProfile */
.userProfile{
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 0.7rem;
    border-radius: 12px 6px 12px 6px;
    cursor: pointer;
    background-color: white;
}

.hiddenDiv{
    position: absolute;
    right: 0.5rem;
    top: 4rem;
    border-radius: 12px 6px 12px 6px;

    display: none;
    justify-content: center;
    align-items: center;

    opacity: 0;
    background-color: var(--main-color);
    width: 10rem !important;
    height: 4rem;

    transition: 0.5s ease-in-out all;
}

.hiddenDiv-toggle{
    display: flex !important;
}

.hiddenDiv > button{
    width: 95%;
    padding: 0.5rem 0.7rem;
    border-radius: 12px 6px 12px 6px;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;

    cursor: pointer;
    z-index: 1;
    transition: 0.25s ease-in-out all;
}

.hiddenDiv > button:hover{
    background-color: white;
    color: black;
}